<div class="menu-home">
    <a herf="/">Allen's Blog</a>
</div>
<div class="menu-links">

    <div class="menu-item">
          <a href="/">Home</a>
    </div>

    <div class="menu-item">
          <a href="/todolist">To Do List</a>
    </div>

    <div class="menu-item">
        <a href="/blog">Blog</a>
    </div>

    <div class="menu-item">
        <a href="https://www.instagram.com/aaaallennnn/">Instagram</a>
    </div>

    <div class="menu-item">
        <a href="https://github.com/allen0125">GitHub</a>
    </div>

    <div class="menu-item">
        <a href="https://share.allen-drive.workers.dev/">CloudDrive</a>
    </div>

    <div class="menu-item">
        <a href="https://movie.allen-drive.workers.dev/">Movie</a>
    </div>
 
    <div class="menu-item">
        <a href="/about">About</a>
    </div>
</div>
